.personBox
  .personBox_1
    .person_image
      img.img-responsive.img-circle(src='/upload/avatar/'+muser.avatarurl, alt=muser.name)
    .person_image_desc
      h1 #{muser.name}
      p 
        if muser.role >= 40
          | Root
        else if muser.role >= 30
          | 管理员
        else if muser.role >= 20
          | 部长
        else if muser.role >= 10
          | 教学员
        else if muser.role >= 0
          | 学员
    .clearfix  
    .person_description
      p
        span.event-bold 学号 :  
        | #{muser.stunumber}
      p
        span.event-bold 性别 :  
        | #{muser.gender}
      p
        span.event-bold 年龄 :  
        | #{muser.age}
      p
        span.event-bold 学院 :  
        | #{muser.college}
      p
        span.event-bold 专业 :  
        | #{muser.cclass}
      p
        span.event-bold 电话 :  
        | #{muser.tel}
      p
        span.event-bold email :  
        | #{muser.email}
      p
        span.event-bold 登陆次数 :  
        | #{muser.pv}
      p
        span.event-bold 最近登录时间 :  
        | #{moment(muser.updateAt).format('MM/DD/YYYY')}
      p 个人介绍 :
      p
        | #{muser.description}
        //- a(href='#') More..