.personBox
  .personBox_1
    .person_image
      img.img-responsive.img-circle(src='/upload/avatar/'+user.avatarurl, alt=user.name)
    .person_image_desc
      h1 #{user.name}
      p 
        if user.role >= 40
          | Root
        else if user.role >= 30
          | 管理员
        else if user.role >= 20
          | 部长
        else if user.role >= 10
          | 教学员
        else if user.role >= 0
          | 学员
    .clearfix  
    .person_description
      p
        span.event-bold 学号 :  
        | #{user.stunumber}
      p
        span.event-bold 性别 :  
        | #{user.gender}
      p
        span.event-bold 年龄 :  
        | #{user.age}
      p
        span.event-bold 学院 :  
        | #{user.college}
      p
        span.event-bold 专业 :  
        | #{user.cclass}
      p
        span.event-bold 电话 :  
        | #{user.tel}
      p
        span.event-bold email :  
        | #{user.email}
      p
        span.event-bold 登陆次数 :  
        | #{user.pv}
      p
        span.event-bold 最近登录时间 :  
        | #{moment(user.updateAt).format('MM/DD/YYYY')}
      p 个人介绍 :
      p
        | #{user.description}
        //- a(href='#') More..