extends ../../layout

block content
  include ../../includes/subs_banner
  .courses_box1
    .container
      .col-md-3
        include ../../includes/personbox
      .col-md-9
        each item,i in courses
          .event-page
            .row
              .col-xs-4.col-sm-4
                .event-img
                  a(href='event_single.html')
                    img.img-responsive(src='/images/e'+i+'.jpg', alt='')
                  .over-image
              .col-xs-8.col-sm-8.event-desc
                h2
                  a(href='/course/detail/'+item.courseid) #{item.courseid.title}
                .event-info-text
                  .event-info-middle
                    p(style='display:inline;')
                      span.event-bold 类别 :  
                    ul.event-speakers(style='display:inline')
                      li
                        a(href='/course/results?q='+item.courseid.categary) #{item.courseid.categary}
                      li
                        a(href='/course/results?q='+item.courseid.coursetype) #{item.courseid.coursetype}
                    p
                      span.event-bold 上次更新日期 :  
                      | #{moment(item.finishAt).format('MM/DD/YYYY')}
                    p
                      span.event-bold 完成度 :  
                      | 已完成#{item.progress}%
                      a.btn(href="/course/updateProgress/"+item.courseid._id) 忘记了,去更新
                    p
                      span.event-bold 难度 :  
                      | #{item.courseid.nd}
                    p
                      span.event-bold 需要时间 :  
                      | #{item.courseid.wt}
        ul.pagination
          - for (var i = 0; i< totalPage; i++){
            - if(currentPage == (i + 1)){
              li.active
                span #{currentPage}
            - }
            - else{
              li
                if query
                  a(href="/user/info/"+user._id+"?p="+i+"&"+query) #{i+1}
                else
                  a(href="/user/info/"+user._id+"?p="+i) #{i+1}
            - }
          - }